@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131314;
  /* margin: 0 15.5%; */
  /* margin-top: 150px; */
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    #131314 20%,
    rgba(156, 169, 214, 0.747) 300%
  );
}

a:hover {
  text-decoration: underline;
}

* {
  /* color: whitesmoke; */
  scrollbar-width: auto;
  scrollbar-color: #c2c2c2 #131314;
}

.navline {
  height: 10px;
  /* margin: 0 auto;  */
  /* width: 69%; */
  border-radius: 10px;
  background-color: whitesmoke;
}

.directoryItem {
  cursor: pointer;
}
.directoryItem.selected {
  font-weight: bold;
}

.footer {
  color: whitesmoke;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 15vh;
  /* position: absolute;
  bottom: -15vh; */
  border-top: 1px solid white;
}

#content {
  width: 69vw;
  min-height: 80vh;
  /* border: 1px solid white; */
  margin: 2em auto;
}

#app-header {
  padding: 2%;
}

#app-header_line {
  margin: 0 auto;
  width: 65vw;
  height: 10px;
}

#app-body_line {
  margin-left: -1%;
  width: 10px;
  height: 65vh;
  border-radius: 0 0 10px 10px;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  /* background: #000000; */
  border-radius: 0 0 10px 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 10px;
  border: 1px inset #ffffff;
}
